{{define "header2"}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<style>
			.navbar-brand
			{
				position: absolute;
				width: 100%;
				left: 100;
				text-align: center;
				margin: auto;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<a class="navbar-brand" href="/">Lirix</a>
			<div class="container">
				<div id="navbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/help">Help</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</div>
			</div>
		</nav>
{{end}}